/* Explore */
.explore-header h1 {
	background-color: var(--darkprim-green) !important;
}

.explore-box h2 {
	margin: 35px 30px;
	font-family: roboto, sans-serif;
}

.explore-container {
	margin: 0px 25px;
	margin-bottom: 75px;
}

.explore-box img {
	width: 100%;
	margin-top: 25px;
}

.explore-box p {
	margin: 35px 30px;
	line-height: 1.3;
}
